/* @import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:wght@900&family=Poppins&display=swap"); */

@font-face {
  font-family: "Playfair Display";
  src: url("./font/PlayfairDisplay-Black.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "PT Serif";
  src: url("./font/PTSerif-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("./font/PTSerif-Bold.ttf");
  font-weight: bold;
}

:root {
  --background: #f6f5f1;
  --soft: #d3d2cc;
  --active: #efead7;
  --dark: #474747;
  --darker: #181818;
}

* {
  font-family: "PT Serif", serif;
  padding: 0;
}

body {
  background-color: var(--background);
}

.nav-main {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.nav-main > div {
  display: flex;
  gap: 24px;
}

.nav-main > div a {
  text-decoration: none;
  color: var(--dark);
  border-bottom: 1px solid var(--background);
  transition: 0.2s;
}

.nav-main > div a:hover {
  border-bottom: 1px solid var(--dark);
}

aside * {
  font-family: Poppins, sans-serif;
}

.nav-side a {
  text-decoration: none;
  color: var(--dark);
}

.nav-side p {
  margin: 0;
  padding: 8px 16px;
}

.nav-side p:hover {
  background-color: var(--active);
}

.category__title {
  font-weight: bold;
  margin: 32px 0 20px 0;
}

.manage__title {
  font-weight: bold;
}

.active {
  background-color: var(--active);
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark);
  background-color: #fff;
}

.btn-primary {
  border: none;
  background-color: var(--dark);
  color: var(--soft);
  padding: 10px;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.btn-primary:hover {
  color: var(--soft);
  background-color: var(--darker);
}

.search .input {
  padding-left: 40px;
}

form.search {
  position: relative;
  display: flex;
  align-items: center;
}

form.search img {
  position: absolute;
  left: 12px;
}

.title-post {
  font-weight: bold;
  font-size: 20px;
  color: var(--dark);
}

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner > img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.banner > h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  position: absolute;
  text-align: center;
  margin: 0;
}

article {
  margin: 36px 0;
}

.post a {
  text-decoration: none;
  height: 100%;
}

.preview__image {
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 200px;
  display: block;
}

.post__image,
.post__image-large {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 280px;
}

.post__date {
  font-size: 14px;
  margin: 4px 0 0 0;
  color: var(--dark);
}

.post__title {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: var(--darker);
  font-size: 18px;
  margin: 4px 0 0 0;
}

.post__body {
  margin: 4px 0 0 0;
  color: var(--dark);
}

.card-post a:hover > .post__title {
  text-decoration: underline;
}

.card-dashboard {
  color: var(--dark);
  border: 1px solid var(--dark);
  padding: 12px 0;
}

.error {
  color: red;
}

.tox {
  border: 1px solid var(--dark) !important;
  border-radius: 0 !important;
}

.read p {
  font-size: 20px;
  line-height: 165%;
  color: var(--darker);
}

.read__title {
  font-family: Poppins, sans-serif;
  line-height: 130%;
  font-weight: bold;
}

.read__category {
  border: 1px solid var(--dark);
  padding: 4px 20px;
  text-align: center;
  background-color: #ede9d9;
  font-size: 16px !important;
  cursor: pointer;
  transition: all 0.1s;
  text-decoration: none;
  color: var(--dark);
  text-decoration: none;
}

.read__category:hover {
  background-color: var(--dark);
  color: #ede9d9;
}

.read__image {
  background-color: var(--darker);
  max-height: 280px;
  object-fit: contain;
  object-position: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  border-top: 1px solid var(--soft);
}

footer * {
  color: var(--dark);
  margin: 0;
}

footer a:hover {
  color: var(--darker);
}

@media screen and (min-width: 768px) {
  .post__image {
    height: 160px;
  }

  .preview__image {
    height: 400px;
  }

  .read__image {
    max-height: 460px;
  }
}

@media screen and (min-width: 1200px) {
  .post__image-large {
    max-height: 400px;
  }
}
